.loader{
    width: 4rem;
    height: 4rem;
}

.swiperExtensions{
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-size: 20px;
    --swiper-navigation-bg: red;;
}

.swiperSlider{
    width: 85%;
}

.errorIcon{
    fill: white;
}

