.loader{
    width: 4rem;
    height: 4rem;
}

.swiperExtensions{
    --swiper-navigation-sides-offset: 20px;
    --swiper-navigation-size: 20px;
    --swiper-navigation-bg: red;;
}

.swiperSlider{
    width: 85%;
}

.errorIcon{
    fill: danger;
}


.productDetails{
    box-shadow: 0px 5px 10px 10px black;
}

.productDescription{
    padding: 0 10px;
    overflow-y: auto ;
    height: 150px;
}
